In [10]:
nums = []

def Media():
    for i in range(0, 5):
        num = int(input(f"Digite a {i+1}° nota: "))
        nums.append(num)
        
        soma = Plus(nums)
        
    print(soma)

def Plus(x):
    plus = 0
    for i in x:
        plus += 1
    
    return plus

print(Media())

1
2
3
4
5
None

In [6]:
import pandas as pd

In [11]:
dados = {'nome': ['Alice', 'Bob', 'Charile', 'David', 'Charlotte'],
        'idade': [25, 30, 22, 28, 19],
        'salario': [50000, 60000, 45000, 55000, 60000]
}

df = pd.DataFrame(dados)
df

        nome  idade  salario
0      Alice     25    50000
1        Bob     30    60000
2    Charile     22    45000
3      David     28    55000
4  Charlotte     19    60000

In [ ]:
i = 0
while i < len(df):

    if df['salario'][i] > 55000:
        print("Nome: ", df['nome'][i], "| Idade: ", df["idade"][i], "| Salário: R$", df['salario'][i])
    
    i += 1

Nome:  Alice | Idade:  25 | Salário: R$ 50000
Nome:  Bob | Idade:  30 | Salário: R$ 60000
Nome:  Charile | Idade:  22 | Salário: R$ 45000
Nome:  David | Idade:  28 | Salário: R$ 55000
Nome:  Charlotte | Idade:  19 | Salário: R$ 60000